* { /*пока оставлю*/
  padding: 0;
  margin: 0;
}

html,
body { /*это точно надо?*/
  min-width: 1122px;
  min-height: 1750px;
}

body {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  font-family: "PTSans";
  text-transform: uppercase;
  color:  #000000;
}

h1 {
  font-size: 30px;
  line-height: 42px;
}

.filters h2 {
  font-size: 24px;
  line-height: 30px;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  outline: 2px solid #103F16;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
  background-color: #000000;
  outline: 2px solid #856830;
}

.main-nav {
  float: left;
  width: 780px;
  min-height: 72px;
  outline: 2px solid #B44F64;
}

.user-block {
  float: right;
  width: 140px;
  min-height: 72px; 
  outline: 2px solid #B44F64;
}

main {
  padding-top: 54px;
  padding-bottom: 50px;
  background-color: #f8f5f2;
  background-image: url("../img/fon-white.png");
  background-repeat: repeat;
  outline: 2px solid #ff0000;
}

.breadcrumbs {
  min-height: 24px;
  margin-top: 17px; /*h1 - пока строчный элемент, который вертик марджин снизу не воспринимает*/
  margin-bottom: 56px;
  outline: 2px solid #B44F64;
}

.filters {
  float: left;
  width: 220px;
  min-height: 590px;
  outline: 2px solid #B44F64;
}

.filters .filter {
  margin-bottom: 50px;
  outline: 2px solid #FFFF00;
}

.catalog-items {
  float: right;
  width: 700px;
  outline: 2px solid #B44F64;
}

.catalog-item {
  float: left;
  width: 220px;
  min-height: 287px;
  margin-right: 20px;
  margin-bottom: 20px;
  outline: 2px solid #FFFF00;
}

.catalog-item:nth-child(3n+3) {
  margin-right: 0;
}

.paginator {
  margin-top: 25px;
  margin-left: 240px;
  outline: 2px solid #856830;
}

.main-footer {
  padding-top: 58px;
  padding-bottom: 39px;
  background-color: #232323;
  background-image: url('../img/fon-grey.png');
  background-repeat: repeat;
  outline: 2px solid #3A6D69;
}

.footer-contacts {
  float: left;
  width: 320px;
  min-height: 90px;
  margin-right: 60px;
  outline: 2px solid #FFFF00;
}

.footer-social {
  float:left;
  width: 180px;
  min-height: 90px;
  outline: 2px solid #FFFF00;
}

.footer-authors {
  float: right;
  width: 140px;
  min-height: 90px;
  outline: 2px solid #FFFF00;
}

.gallery {
  float: left;
  width: 460px;
  outline: 2px solid #3A6D69;
}

.description {
  float: right;
  width: 390px;
  outline: 2px solid #3A6D69;
}